// Navigation code here
.header {
    .center();
    .position();
    background: @footer-background;
    padding-bottom: 20px;
  
    h1{
      font-size: 4rem;
      padding-bottom: 10px;
    }

    nav {
        font-size: 1.6rem;
        padding-bottom: 10px;

        a {
            text-decoration: none;
            padding: 0 15px;
            color: black;
        }
    }

    .sticky-nav {
      top: 40px;
      position: fixed;
      background: rgba(200,200,200,0.1);
  }
  }